*,
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #efefef;
}

footer {
  color: #333;
  margin-top: 2rem;
}

.postcard {
  width: 400px;
  height: 300px;
  border: 15px solid #333;

  margin: 0;
  padding: 0;
  font-size: 0;

  background-size: cover;
  overflow: hidden;
}

.postcard:hover img {
  transform: scale(1.2);
  transform: rotate(0deg);

}






img {
  transform: scale(1);
  transition: all 0.2s ease-out;
  object-fit: cover;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  box-sizing: border-box;
  margin: -1px;
  padding: 0;
  font-size: 0;
}

.card1 {
  position: absolute;
  top: 300px;
  left: 760px;
  transform: rotate(15deg);
}

.card2 {
  position: absolute;
  top: 350px;
  left: 100px;
  transform: rotate(-30deg);
}

.card3 {
  position: absolute;
  top: 50px;
  left: 80px;
  transform: rotate(-10deg);
}

.card4 {
  position: absolute;
  top: 35px;
  left: 700px;
  transform: rotate(-10deg);
}

.card5 {
  position: absolute;
  top: 125px;
  left: 400px;
  transform: rotate(5deg);
}
