<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>nerdshop4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>

  <h1>The nerd shop<sup>4</sup></h1>

  <p>
    <% items.forEach( (item, i) => { %>
      <a href="/product/<%=i%>">product<%= i %></a><br>
    <% }); %>
  </p>

</body>

</html>
